---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomeLogo from "../components/HomeLogo.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="home bg-[#0000f5] flex flex-col">
		<div class="min-h-screen flex flex-col">
			<Header />
			<div
				class="w-full grow flex flex-col items-center justify-center logo"
			>
				<HomeLogo
					class="text-white w-full h-auto max-w-4xl px-4 drop-shadow-2xl"
				/>

				<div class="animated-entry subtitle text-center">
					<span
						class="text-white text-2xl font-semibold pt-2 tracking-wide"
					>
						Professional System Engineer <br />and Hobbyist Software
						Engineer
					</span>
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>
