---
import HomeLogo from "./HomeLogo.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<header
  class={`py-2 z-50 relative sm:sticky top-0 px-4 ${isHome ? "bg-transparent" : "bg-[var(--brand-blue)]"}`}
>
  <nav
    class="flex items-center justify-between max-w-7xl mx-auto sm:grid sm:grid-cols-3"
  >
    <div class={`flex justify-start ${isHome ? "hidden sm:flex" : "flex"}`}>
      <a href="/">
        <HomeLogo
          isHeader={true}
          class={`h-10 sm:h-14 md:h-18 w-auto text-white hover:text-gray-200 transition-colors ${isHome ? "invisible" : ""}`}
        />
      </a>
    </div>

    <div
      class="flex gap-2 md:gap-6 justify-center items-center text-white grow sm:grow-0"
    >
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>

    <div class="flex justify-end sm:pr-4">
      <ThemeToggle />
    </div>
  </nav>
</header>
