---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
	href={href}
	class="text-lg md:text-2xl transition-all duration-300 ease-in-out hover:scale-110"
	class:list={[className, { "scale-110 font-bold": isActive }]}
	{...props}
>
	<slot />
</a>
<style>
	a {
		/* Use text-stroke to simulate variable font weight for smooth transition */
		-webkit-text-stroke: 0px currentColor;
		paint-order: stroke fill;
	}

	a:hover {
		-webkit-text-stroke: 1px currentColor;
	}
</style>
