---
import HomeLogo from "./HomeLogo.astro";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<header class="py-2 bg-[#0000f5]/95 backdrop-blur z-50 sticky top-0 px-4">
	<nav class="grid grid-cols-1 sm:grid-cols-3 items-center">
		<div class="flex justify-center">
			<a href="/">
				<HomeLogo
					isHeader={true}
					class={`h-14 md:h-18 w-auto text-white hover:text-gray-200 transition-colors ${isHome ? "hidden sm:block sm:invisible" : ""}`}
				/>
			</a>
		</div>

		<div class="flex gap-4 md:gap-4 justify-center items-center text-white">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>

		<div class="hidden md:block"></div>
	</nav>
</header>
